# ===================== #
# IntelliJ / IDEs       #
# ===================== #
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ===================== #
# Maven / Gradle        #
# ===================== #
target/
build/
out/

# ===================== #
# Logs e temporários    #
# ===================== #
*.log
*.tmp
*.bak
*.swp

# ===================== #
# Configurações locais  #
# ===================== #
*.env
